<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>F04EX03</title>
    <script src="https://unpkg.com/vue"></script>
</head>

<body>
    <div id="app">
        <ul>
            <li v-for='team in teams'>
                Name: {{team.name}} AND year: {{team.year}}
            </li>

        </ul>  
        <button v-on:click='addTeam("Braga",1923,"braga")'>ADICIONAR EQUIPA</button> 
        <button v-on:click='filterLocation("lisboa")'>MOSTRAR EQUIPAS DE LISBOA</button> 
       
        <table>
            <tr>
                <th>#</th>
                <th>NAME</th>
                <th>YEAR</th>
                <th>LOCATION</th>
            </tr>
            <tr v-for='(team,index) in filteredTeams'>
                <td>{{index+1}}</td>
                <td>{{team.name}}</td>
                <td>{{team.year}}</td>
                <td>{{team.location}}</td>
            </tr>
        </table>


    </div>
    <script src="./vueInstance.js"></script>
</body>
</head>
<body>
    
</body>
</html>